body {
  user-select: none;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0em;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.top-nav {
  height: 40px;
  background-color: lightgray;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  display: inline;
}

nav>h2 {
  margin: 0em;
  padding-left: .25em;
}

.spacer {
  height: 1em;
  margin-top: 0em;
}

.new-blog-post {
  background-color: beige;
}

.new-blog {
  display: flex;
  flex-direction: column;
  gap: .2em;
  padding: .5em .5em;
  margin-bottom: .75em;
}

label {
  margin-bottom: 0em;
  font-weight: 600;
}

.blog-text-input {
  height: 2em;
}

.blog-textarea {
  resize: none;
}

#blog-posts {
  padding: 0em .5em 0em .5em;
}

#blog-title {
  text-decoration: underline;
  color: gray;
  margin-top: 0em;
  margin-bottom: .5em;
}

#blog-body {
  margin-top: 0em;
}

.submit-post-btn {
  width: 150px;
  height: 25px;
  margin: 0em .5em 1em;
  color: lightgray;
  background-color: rgb(66, 64, 64);
  border: none;
}

.submit-post-btn.hover {
  cursor: pointer;
  background-color: darkgray;
}